<header>
    <nav>
      <a href="/">Mybrary</a>
      <ul>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/authors/new">Add Author</a></li>
        <li><a href="/books">BOOKS</a></li>
        <li><a href="/books/new">Add BOOKS</a></li>
      </ul>
    </nav>
  </header>