<h2>New Author</h2>
<!-- whatever is the form action 
  if /authors... then route is post at '/'
  if /authors/new... then route is at '/new'-->
<form action="/authors/new" method="POST">
  <%- include('_form_fields') %>
  <a href="/authors">Cancel</a>
  <button type="submit">Create</button>
</form>